.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/pexels-photo-4636769.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 776px;
}

.u-section-1 .u-image-1 {
  width: 280px;
  height: 280px;
  background-image: url("images/crop-01.jpg");
  background-position: 50% 19.02%;
  margin: 80px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  line-height: 1.4;
  font-weight: 700;
  width: 400px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  width: 360px;
  background-image: none;
  margin: 10px auto 0;
}

.u-section-1 .u-text-3 {
  width: 902px;
  animation-duration: 1000ms;
  font-size: 1.125rem;
  background-image: none;
  font-style: italic;
  line-height: 28.8px;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 900px;
  margin: 25px auto -112px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 90px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 5px 5px;
}

.u-section-1 .u-text-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 90px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 5px 5px;
}

.u-section-1 .u-text-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 90px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 5px 5px;
}

.u-section-1 .u-text-6 {
  margin: 0 2px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 31.74%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-position: 50% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-size: auto 125%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 53.35% 0%;
    background-size: auto 150%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 80px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 250px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 142px;
}

.u-section-2 .u-text-1 {
  width: 803px;
  font-weight: normal;
  margin: 45px auto -114px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 709px;
}

.u-section-3 .u-text-1 {
  width: 803px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  width: 803px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  width: 803px;
  font-weight: 700;
  margin: 5px auto 0;
}

.u-section-3 .u-text-4 {
  width: 803px;
  margin: 5px auto 0;
}

.u-section-3 .u-text-5 {
  width: 803px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-6 {
  width: 803px;
  margin: 20px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 800px;
  min-height: 160px;
  margin: 20px auto 30px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 160px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 30px 20px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: -30px 30px 0 -5px;
}

.u-section-3 .u-text-8 {
  margin: 5px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 135px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-9 {
  margin: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 135px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-10 {
  margin: 0;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    width: 720px;
  }

  .u-section-3 .u-text-4 {
    width: 720px;
  }

  .u-section-3 .u-text-5 {
    width: 720px;
  }

  .u-section-3 .u-text-6 {
    width: 720px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    min-height: 30px;
    margin-bottom: -195px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1134px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
  }

  .u-section-3 .u-text-4 {
    width: 540px;
  }

  .u-section-3 .u-text-5 {
    width: 540px;
  }

  .u-section-3 .u-text-6 {
    width: 540px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: -100px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 144px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: -25px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 121px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 119px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1276px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
  }

  .u-section-3 .u-text-4 {
    width: 340px;
  }

  .u-section-3 .u-text-5 {
    width: 340px;
  }

  .u-section-3 .u-text-6 {
    width: 340px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 40px;
    margin-bottom: -120px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 10px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 15px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 514px;
}

.u-section-4 .u-text-1 {
  width: 803px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  width: 803px;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  width: 803px;
  font-weight: 700;
  margin: 5px auto 0;
}

.u-section-4 .u-text-4 {
  width: 803px;
  margin: 5px auto 0;
}

.u-section-4 .u-text-5 {
  width: 803px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-6 {
  width: 803px;
  margin: 20px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 800px;
  margin: 20px auto -1px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 84px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 30px 20px;
}

.u-section-4 .u-text-7 {
  margin: -30px 0 0;
}

.u-section-4 .u-text-8 {
  margin: 5px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 84px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-4 .u-text-9 {
  margin: 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 84px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 29px;
}

.u-section-4 .u-text-10 {
  margin: 0;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-text-3 {
    width: 720px;
  }

  .u-section-4 .u-text-4 {
    width: 720px;
  }

  .u-section-4 .u-text-5 {
    width: 720px;
  }

  .u-section-4 .u-text-6 {
    width: 720px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: -48px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    width: 540px;
  }

  .u-section-4 .u-text-4 {
    width: 540px;
  }

  .u-section-4 .u-text-5 {
    width: 540px;
  }

  .u-section-4 .u-text-6 {
    width: 540px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: -190px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 59px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 31px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 38px;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 0 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    width: 340px;
  }

  .u-section-4 .u-text-4 {
    width: 340px;
  }

  .u-section-4 .u-text-5 {
    width: 340px;
  }

  .u-section-4 .u-text-6 {
    width: 340px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: -317px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 65px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 32px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 46px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 838px;
}

.u-section-5 .u-text-1 {
  width: 803px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  width: 803px;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  width: 803px;
  font-weight: 700;
  margin: 5px auto 0;
}

.u-section-5 .u-text-4 {
  width: 803px;
  margin: 5px auto 0;
}

.u-section-5 .u-text-5 {
  width: 803px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-6 {
  width: 803px;
  margin: 20px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 804px;
  margin: 20px auto 30px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 184px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 30px 20px;
}

.u-section-5 .u-text-7 {
  margin: -30px 0 0;
}

.u-section-5 .u-text-8 {
  margin: 5px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 184px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-5 .u-text-9 {
  margin: 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 184px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 30px 29px;
}

.u-section-5 .u-text-10 {
  margin: 0;
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }

  .u-section-5 .u-text-3 {
    width: 720px;
  }

  .u-section-5 .u-text-4 {
    width: 720px;
  }

  .u-section-5 .u-text-5 {
    width: 720px;
  }

  .u-section-5 .u-text-6 {
    width: 720px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 954px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-text-3 {
    width: 540px;
  }

  .u-section-5 .u-text-4 {
    width: 540px;
  }

  .u-section-5 .u-text-5 {
    width: 540px;
  }

  .u-section-5 .u-text-6 {
    width: 540px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 10px 10px 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding: 10px 10px 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-text-3 {
    width: 340px;
  }

  .u-section-5 .u-text-4 {
    width: 340px;
  }

  .u-section-5 .u-text-5 {
    width: 340px;
  }

  .u-section-5 .u-text-6 {
    width: 340px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 263px;
}

.u-section-6 .u-text-1 {
  width: 803px;
  margin: 1px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  width: 803px;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  width: 803px;
  margin: 5px auto 0;
}

.u-section-6 .u-text-4 {
  width: 803px;
  margin: 20px auto 11px;
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: 720px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }

  .u-section-6 .u-text-3 {
    width: 720px;
  }

  .u-section-6 .u-text-4 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-text-3 {
    width: 540px;
  }

  .u-section-6 .u-text-4 {
    width: 540px;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-text-3 {
    width: 340px;
  }

  .u-section-6 .u-text-4 {
    width: 340px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 433px;
}

.u-section-7 .u-text-1 {
  width: 803px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  width: 803px;
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  width: 803px;
  font-weight: 700;
  margin: 5px auto 0;
}

.u-section-7 .u-text-4 {
  width: 803px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-5 {
  width: 803px;
  margin: 20px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 804px;
  margin: 20px auto 30px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 109px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 29px 20px;
}

.u-section-7 .u-text-6 {
  margin: -30px 0 0;
}

.u-section-7 .u-text-7 {
  margin: 5px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 109px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-7 .u-text-8 {
  margin: 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 109px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 30px 29px;
}

.u-section-7 .u-text-9 {
  margin: 0;
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    width: 720px;
  }

  .u-section-7 .u-text-2 {
    width: 720px;
  }

  .u-section-7 .u-text-3 {
    width: 720px;
  }

  .u-section-7 .u-text-4 {
    width: 720px;
  }

  .u-section-7 .u-text-5 {
    width: 720px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: 14px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }

  .u-section-7 .u-text-3 {
    width: 540px;
  }

  .u-section-7 .u-text-4 {
    width: 540px;
  }

  .u-section-7 .u-text-5 {
    width: 540px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: 30px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 86px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 65px;
  }

  .u-section-7 .u-container-layout-2 {
    padding: 10px 10px 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 72px;
  }

  .u-section-7 .u-container-layout-3 {
    padding: 10px 10px 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }

  .u-section-7 .u-text-3 {
    width: 340px;
  }

  .u-section-7 .u-text-4 {
    width: 340px;
  }

  .u-section-7 .u-text-5 {
    width: 340px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 89px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 68px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 76px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 112px;
}

.u-section-8 .u-text-1 {
  width: 803px;
  font-weight: normal;
  margin: 30px auto -129px;
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: 340px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 610px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: -46px;
  min-height: 560px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 560px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-image-1 {
  width: 988px;
}

.u-section-9 .u-group-1 {
  width: 597px;
  min-height: 400px;
  margin: 0 75px 0 auto;
}

.u-section-9 .u-container-layout-2 {
  padding: 21px 30px;
}

.u-section-9 .u-text-1 {
  text-shadow: 2px 2px 1px rgba(0,0,0,0.8);
  margin: 32px 0 0;
}

.u-section-9 .u-text-2 {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.65);
  margin: 5px 0 0;
}

.u-section-9 .u-text-3 {
  box-shadow: -2px 0 1px 0 rgba(0,0,0,0);
  font-weight: 700;
  letter-spacing: normal;
  margin: 5px 0 0;
}

.u-section-9 .u-btn-1 {
  padding: 0;
}

.u-section-9 .u-text-4 {
  margin: 5px 0 0;
}

.u-section-9 .u-text-5 {
  text-shadow: 2px 2px 1px rgba(0,0,0,0.8);
  margin: 20px 0 0;
}

.u-section-9 .u-text-6 {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.65);
  margin: 5px 0 0;
}

.u-section-9 .u-text-7 {
  font-weight: 700;
  margin: 5px 0 0;
}

.u-section-9 .u-btn-2 {
  padding: 0;
}

.u-section-9 .u-text-8 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: 30px;
    min-height: 364px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 462px;
  }

  .u-section-9 .u-image-1 {
    left: auto;
    right: -448px;
  }

  .u-section-9 .u-group-1 {
    width: 600px;
    min-height: 460px;
    margin-top: 20px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
  }

  .u-section-9 .u-text-3 {
    width: auto;
  }

  .u-section-9 .u-text-4 {
    width: auto;
  }

  .u-section-9 .u-text-5 {
    width: auto;
  }

  .u-section-9 .u-text-6 {
    width: auto;
  }

  .u-section-9 .u-text-7 {
    width: auto;
  }

  .u-section-9 .u-text-8 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 351px;
  }

  .u-section-9 .u-group-1 {
    margin-top: 80px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-9 .u-layout-wrap-1 {
    min-height: 541px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 527px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-1 {
    object-position: 33.51% 50%;
  }

  .u-section-9 .u-group-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-layout-wrap-1 {
    min-height: 344px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-9 .u-image-1 {
    object-position: 29.88% 50%;
  }

  .u-section-9 .u-group-1 {
    min-height: 490px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-text-8 {
    margin-bottom: -21px;
  }
}